body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  color: #333;
}

.post {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post, textarea, select, input[type=text] {
  width: 100%;
  box-sizing: border-box;
}

textarea {
  border: 1px solid #1982FC;
  border-radius: 8px;
  width: calc(100% - 22px);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.posts, .login {
  margin: 20px;
}

.post:nth-child(odd) {
  background-color: #f9f9f9;
}

.status {
  color: #d9534f;
}

button, input[type=button], input[type=submit] {
  color: #fff;
  margin-top: 10px !important;
  background-color: #1982FC;
  border: 1px solid black;
  border-radius: 10px !important;
  padding: 8px 15px;
}

.confirmDelete {
  background-color: #D9534F !important;
}

.confirmEdit {
  background-color: green !important;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
  background-color: #155CB3;
  border: 1px solid #155CB3;
}

.loggedin {
  display: inline-block;
  margin-right: 10px;
}

.logout {
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
  top: 20px;
}
